{
  "singleQuote": false,
  "useTabs": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf"
}
